*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 10vh;
   background-color: rgb(0, 0, 0);
   position: fixed;
   top: 0%;
   left: 0%;
   z-index: 999;
   margin-bottom: 1%;
}
header div{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 13%;
    position: absolute;
    padding: 5px;
    right: 3%;
    top: 32%;



}
#table{
    color: rgb(255, 255, 255);
    position: absolute;
    padding: 5%;
    right: 100%;
    top: 5%;
}

header i{
    color: rgb(255, 255, 255);
    background-color:  rgba(255, 255, 255, 0.76);
    border-radius: 25%;
    padding: 5px;
    position: absolute;
    right: 1%;
    top: 33%;
   


    ;
}
.photostructure{
position: relative;
}
.photostructure img{
    width: calc(120vw/5);
    object-fit: cover;
}
.pallobox{
    background-color: rgba(139, 139, 139, 0.767);
    color: white;
    position: absolute;
    width: 35%;
    bottom: 2%;
    left: 0%;
    z-index: 3;
}
main{
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-around;
    height: calc(100vh - 116px);
    width: 100vw;
    overflow:auto;

}
footer{
    width: 100%;
    height: 12vh;
    background-color: rgb(49, 49, 49);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
footer i{
    font-size: 200%;
    color: white;
}
footer div{
    position: relative;
    width: 5%;

}
footer p{
    position: absolute;
    color: white;
    left: 7%;
    top: 100%;
}
#fleft{
    position: absolute;
    left: 1%;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
#fcenter{
    display: flex;
    width: 40%;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: space-between;
}
.space{
    margin-left: 0%;
    margin-right: 0%;
}
#end{
    color: red;
    background-color: rgba(82, 82, 82, 0.842);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    right: 0%;
    top: 0%;
    width: 10%;
    height: 100%;
}   